@import "_palette.scss";
@import "bulma/css/bulma.css";
@import "overrides";

body {
  background: $background-gray;
}

.is-clipped {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.is-width-2 {
  width: 2rem;
}
.is-width-3 {
  width: 3rem;
}
.is-width-4 {
  width: 4rem;
}
.is-width-5 {
  width: 5rem;
}
.w2 {
  width: 20%;
}

.w6 {
  width: 60%;
}

.chart-wrap {
  min-height: 360px;
}

.gap-2 {
  gap: 0.5rem;
}
